
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@font-face {
    font-family: "Poppins";
    src: url('fonts/PoppinsRegular.ttf') format("truetype");
}
@font-face {
    font-family: "PoppinsBold";
    src: url('fonts/PoppinsSemiBold.ttf') format("truetype");
}
@font-face {
    font-family: "Caviar Dreams";
    src: url(fonts/CaviarDreams.ttf) format("truetype");
}
@font-face {
    font-family: "boldfont";
    src: url(fonts/theboldfont.ttf) format("truetype");
}

@font-face {
    font-family: "Poppins";
    src: url('fonts/PoppinsRegular.ttf') format("truetype");
}
@font-face {
    font-family: "PoppinsBold";
    src: url('fonts/PoppinsSemiBold.ttf') format("truetype");
}
.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
body{
    font-family: "Poppins";
}
.letra-poppins-bold{
 font-family: "PoppinsBold";
}
.letra-poppins {
    font-family: "Poppins";
}
.letra-boldfont{
    font-family: "boldfont";
}

/*CUSTOM ELEMENTS*/
.classroom-label{
    color:#278080;
    padding:10px;
    margin-top:15px;
    font-size: 1.2em;
}
.classroom-planning-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.classroom-planning-section>span{
    margin-left: 20px;
}
.padding-10{
    padding: 10px;
}

.btn-primary{
    background-color:$color-1;
    font-weight: 600;
    color: $color-2;
    border-color: $color-1;
}
.btn-primary:hover{
    background-color: $color-1-6;
    border-color: $color-2;
    text-decoration: none;
    color: white;
}
.btn-primary:focus{
    background-color:$color-1;
    border-color: $color-1;
    text-decoration: none;
    color: white;
    box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle{
    text-decoration: none;
    color: $color-2;
}


.btn-warning{
    background-color:$color-1;
    font-weight: 600;
    border-color: $color-1;
     color: $color-5;
}
.btn-warning:hover{
    background-color: $color-1-6 !important;
    border-color: $color-1-6;
    text-decoration: none;
    color:$color-5;
}
.btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active, .show > .btn-warning.dropdown-toggle{
    text-decoration: none;
    color:$color-5;
}




.btn-link_bold{
    font-weight: bold;
}
.btn-link{
    font-weight: 600;
    color:$color-3;
}
.btn-link:hover{
    border:0px;
    text-decoration: underline;
    color:$color-3;
}
.btn-link:focus{
    text-decoration: none;
    box-shadow: none;
}

.btn-danger{
    background-color:$color-4;
    font-weight: 600;
    color: $color-2;
    border-color: $color-4;
}
.btn-danger:hover{
    background-color: $color-4-6;
    border-color: $color-2;
    text-decoration: none;
    color: white;
}
.btn-danger:focus{
    background-color:$color-4;
    border-color: $color-4;
    text-decoration: none;
    color: white;
    box-shadow: none;
}
.btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active, .show > .btn-danger.dropdown-toggle{
    text-decoration: none;
    color: $color-2;
}



/*CUSTOM ELEMENTS*/
.classroom-label {
    color: #233d68;
    padding: 10px;
    margin-top: 15px;
    font-size: 1.2em;
}
.classroom-planning-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.classroom-planning-section > span {
    margin-left: 20px;
}
.btn.btn-Azul {
    background: $default-btn;
    text-decoration: none;
  }
  .btn.btn-Azul:hover {
    color:white;
    text-decoration: none;
    background-color:$default-btn-hover;
  }
.btn.btn-collapsed{
    text-decoration: none;
    outline: none;
    font-weight: 700;
}
.btn.btn-collapsed:focus, .btn.btn-collapsed.focus{
    box-shadow:none;
}
.classroom-label
{
    margin-top:20px;
}
strong {
    font-family: "Century Gothic";
}
.card-container{
    background-color: $color-6;
    padding: 10px;
}
.card-header{
    text-align: center;
    background-color: transparent;
    border: none;
}
.card-header>h3{
    background-color: $color-3;
    padding: 8px;
    font-family: "boldfont" !important;
    max-width: 300px;
    margin: auto;
    border-radius: 8px;
    color: white;
}
.btn-outline-primary{
    border-color: $default-btn !important;
    color: $default-btn !important;
}
.btn-outline-primary:hover{
    color: #fff !important;
    background-color: $default-btn !important;
}
.table-hover tbody tr:hover{
    background-color: #f0f0f0;
}
.padding-10{padding: 10px;}
.padding-20{padding:20px;}
.height-50{height: 50px;}
.text-error{color:$red !important;}
.margin-top-20{margin-top:20px;}
.margin-top-50{margin-top:50px;}
.margin-bottom-10{margin-bottom:50px;}
.margin-left-5{margin-left: 5px;}
.content-button{display:flex;flex-direction:row;justify-content:flex-end}
.label-required{color:$red}
a:not(.md-button):hover{text-decoration: none !important;}


.padding-10_p{padding:10%;}
.padding-left-5{padding-left: 5px !important;}
.table-hover th tbody tr{
    background-color:rgba(255, 255, 255, 0.515);
}
.etiqueta-trikele{
    color: #ff4700;
    font-size: 20px;
    font-weight: 700;
    font-family: "boldfont";
}
.letra-boldfont{
    font-family: "boldfont" !important;
}
.letra-poppins{
    font-family: "Poppins" !important;
}
.letra-poppins-bold {
    font-family: "PoppinsBold" !important;

}
.fondo-lista{
    min-height: 80vh;
    background-image: url("/uploads/home/fondo-lista.jpg");
}
.caviar{
    font-family: "Caviar Dreams";
}
p.caviar{
    font-size: 18px;
    text-align: justify;
    text-transform: none;
}

