// Colors

$color-1:#ffc039;
$color-1-6:#ec971f;
$color-2:#ffffff;
$color-3:#278080;
$color-4:#ff3939;
$color-4-6:#a82f2f;

$blue: $color-1;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: $color-1;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
